<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= flash[:notice] %><br>
    <a href="/users/new">Sign up</a><br>
    <a href="/session/new">Log in</a><br>
    <a href="/peeps">View peeps</a><br>
  </body>
</html>
