<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    You have successfully signed up!
    <form class="" action="/sessions" method="post">
      <input type="text" name="email" value="">
      <input type="text" name="password" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
