<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= flash[:notice] %>
    <form class="" action="/peeps" method="post">
      <label for="peep">Create peep: </label>
      <input type="text" name="peep" value="">
      <input type="submit" name="" value="submit">
    </form>
    <a href="/peeps">View peeps</a>
  </body>
</html>
