<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Peeps</h1>
    <% @peeps.each do |peep| %>
    <h1><%= peep.message %></h1>
    <h1><%= peep.format_time %></h1>
    <% end %>
  </body>
</html>
