<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Peeps</h1>
    <% @messages.each do |message| %>
    <%= message %>
    <% end %>
  </body>
</html>
